body {

  background-color: #202c37  !important ;
}

.cards-wrapper{
  margin: 2rem 4.5rem 2rem 4.5rem;
}

.card-image-wrapper {
  width: 100%;
  height: 200px;
}

.navbar {
  background-color: #2b3945!important;
}


.has-search .form-control {
  padding-left: 2.375rem;
  background-color: #2b3945!important;
  border: 1px solid #161b20!important;
  width: 300px;
  color: white;
}
.has-search .form-control::placeholder {

  color: white;
}
.search-input-control {
  height: 3rem !important;
  color: white !important;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  pointer-events: none;
  color: white;
  
}
.search-main-wrapper {
  max-width: 66%;
  width: 100%;
  margin: 0 auto;
  height: 25vh;
  display: flex;
 
  align-items: center;
}




.backButton{
  background-color: #052055a1;
  border: 1px solid #ffffff38;
  color: white !important;

  
}

.card-main-wrapper { 
  background-color: #2b3945 !important;
  color: white;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.backButton:hover{
  background-color: #08378fa1;
  transition: background-color 0.2s;
  border: 1px solid #ffffff38;
  color: white;
  text-decoration: none;

  
}